body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enables scrolling */
}

.container {
    display: flex;
    flex: 1; /* Ensures the container takes available space */
    height: 100%; /* Make sure it takes the full height of the body */
}

.sidebar {
    width: 250px;
    background: #4E6956;
    color: white;
    padding-top: 20px;
    height: auto; /* Ensures sidebar takes full height */
    overflow-y: auto; /* Enables scrolling within the sidebar */
    scrollbar-width: thin; /* Makes scrollbar thinner */
    scrollbar-color: #34495e #2c3e50; /* Custom scrollbar colors */
    flex-shrink: 0; /* Prevents sidebar from shrinking */
    
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar ul li:hover {
    background: #45807b;
}

.content {
    flex-grow: 1; /* Ensures content area takes up remaining space */
    padding: 20px;
    overflow-y: auto;
}
